@tailwind base;
@tailwind components;
@tailwind utilities;

.TH {
  font-family: 'Prompt';
}

/* *! Animate */

.Anim {
  @apply transition xl:hover:duration-200 duration-300;
}

.Anim-1 {
  @apply transition xl:hover:duration-300 duration-500;
}

.Anim-2 {
  @apply transition xl:hover:duration-500 duration-700;
}

.AnimScale {
  @apply xl:hover:scale-150;
}

.AnimScale-sm {
  @apply xl:hover:scale-110;
}

.AnimOpacity-40 {
  @apply xl:opacity-40 xl:hover:opacity-100;
}

.AnimOpacity-60 {
  @apply xl:opacity-60 xl:hover:opacity-100;
}

.AnimOpacity-80 {
  @apply xl:opacity-80 xl:hover:opacity-100;
}

.AnimTranslate-10 {
  @apply xl:hover:-translate-x-2.5 xl:hover:-translate-y-2.5;
}

.AnimRotate-1 {
  @apply xl:hover:-rotate-1;
}

.AnimTranslate-4 {
  @apply xl:hover:-translate-x-1 xl:hover:-translate-y-1;
}

.AnimSaturate-0 {
  @apply xl:saturate-0 xl:hover:saturate-100;
}

/* *! Text */

.page-home-textOutline {
  -webkit-text-stroke: 2px #fff;
  @apply text-transparent text-6xl font-bold sm:text-7xl sm:-mb-2.5 md:text-8xl lg:-mb-5 lg:text-9xl xl:text-[200px] xxl:text-[276px];
}

.text-outline {
  -webkit-text-stroke: 1px #fff;
  @apply text-transparent;
}

@media (min-width: 768px) {
  .text-outline {
    -webkit-text-stroke: 2px #fff;
  }
}

/* *! Element */

.Btn-white-40 {
  @apply p-1 text-xs md:px-3 md:py-1 md:text-base xl:text-xs xxl:text-base bg-white/20 border rounded border-white/40 backdrop-blur-md;
}

.NotiBadge-primary {
  @apply absolute top-0 right-0 inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-black bg-primary-0 rounded-full transform translate-x-1/2 -translate-y-1/2;
}

.NotiBadge-secondary {
  @apply absolute top-0 right-0 inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-white bg-secondary-0 rounded-full transform translate-x-1/2 -translate-y-1/2;
}

.Card-back-md-60 {
  @apply bg-black/60 rounded-md backdrop-blur-md;
}

.Card-back-md-40 {
  @apply bg-black/40 rounded-md backdrop-blur-md;
}

.Card-back-md-20 {
  @apply bg-black/20 rounded-md backdrop-blur-md;
}

.Card-white-20 {
  @apply bg-white rounded-md bg-opacity-20 backdrop-blur-md;
}

.Border-white-40 {
  @apply border border-white/40;
}

.Border-white-40:focus,
.Border-white-40:hover,
.Border-white-40:active {
  @apply border-white/60;
}

/* *! Form */

.Form-white input {
  @apply bg-white/10 py-1 px-2 text-white;
}

.Form-white input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.Form-white input:-webkit-autofill,
.Form-white input:-webkit-autofill:focus,
.Form-white input:-webkit-autofill:hover,
.Form-white input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
  -webkit-text-fill-color: black !important;
  @apply bg-transparent;
}

.Form-white-checkbox {
  @apply absolute opacity-0 z-10;
}

.Form-white-checkbox + label {
  @apply relative p-0 cursor-pointer;
}

.Form-white-checkbox + label:before {
  content: '';
  @apply mr-3 inline-block align-top w-3 h-3 bg-white/20 Border-white-40 rounded-sm;
}

.Form-white-checkbox:hover + label:before {
  @apply bg-primary-0/60;
}

.Form-white-checkbox:checked + label:before {
  @apply bg-primary-0;
}

.Form-white-checkbox:disabled + label {
  @apply text-white/30 cursor-auto;
}

.Form-white-checkbox:disabled + label:before {
  @apply bg-white/10;
}

.Form-white-checkbox:checked + label:after {
  content: '';
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white,
    4px -6px 0 white, 4px -8px 0 white;
  @apply absolute left-[2px] top-1 bg-white w-1 h-1 rotate-45;
}

/* *! Others */

.Project-header > h3 {
  @apply text-3xl font-semibold;
}

.Project-header > p {
  @apply mt-6 opacity-80 font-light;
}
